<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/chat.js') }}"></script>
	<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{ config.MAPS_API_KEY }}">
	</script>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css" />
	<title>{{ config.APP_TITLE }}</title>
</head>
<body>
	<header>
	{% if config.APP_TITLE %}
		<h1>{{ config.APP_TITLE }}</h1>
	{% else %}
		<h1>Default App Title (GrandPy)</h1>
	{% endif %}
	</header>
	<div id="chat">
		<div id="displayMsg"></div>
		<form action="/ask" method="POST" id="user-action">
			<input type="input" type="text" name="content" id="inputText">
			<button type="submit" id="btnSend"></button>
		</form>
	</div>
	<footer>
	{% if config.APP_AUTHOR %}
		<p>{{ config.APP_AUTHOR }}</p>
	{% endif %}
	{% if config.GITHUB_LINK %}
		<a href="{{ config.GITHUB_LINK }}">GitHub</a>
	{% endif %}
	</footer>
</body>
</html>